
<br />
<hr />
<button id="btnLoadHtmlLog">Load HTML Logged</button>
<input id="logEllapsed" type="text" disabled value="0:0" />
<div id="loggedHtmlList"></div>
<hr />
<button id="btnLoadHtmlNoLog">Load HTML No Log</button>
<input id="noLogEllapsed" type="text" disabled value="0:0" />
<div id="nonLoggedHtmlList"></div>
<hr />